.header-page input{
    height: 27px;
    border: 1px solid;
    border-radius: 15px;
    padding-left: 7px;
    padding-right: 25px;
}

.header-page input:focus {
outline: none;
}
.header-page label {
    position: relative;
}

.header-page label i {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}


.notification-user .user {
    cursor: pointer;
}


.categories .bts {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}
 
.categories .bts button {
    border: none;
    background-color: #6e6cc8;
    color: #fff;
    padding: 3px 10px;
    border-radius: 15px;
    font-size: 18px;
    margin: 20px 0;
    transition: all .4s;
}

.categories .bts button:hover {
    background-color: #000000;
    transform: translateY(-5px);
}